<app-page-header
  title="Contacts"
  description="company employees details"
  icon="bi bi-people-fill"
></app-page-header>

<div class="row mt-3">
  <h4 class="title">Company Employees Contacts</h4>

  <input
    [(ngModel)]="nameTerm"
    name="name-term"
    type="text"
    class="form-control"
    placeholder="Search contact by name"
  />
  <div *ngIf="contacts | filterContact: 'name':nameTerm as contacts">
    <table
      *ngIf="contacts.length; else noContacts"
      class="table table bordrded align-middle mt-3"
    >
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Birthday</th>
          <th>Phones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; index as idx">
          <td class="text-center fx-bold numbers">{{ idx + 1 }}</td>
          <td>{{ contact.name | titlecase }}</td>
          <td>
            <a [href]="'mailto:' + contact.email">
              {{ contact.email | lowercase }}</a
            >
          </td>
          <td>{{ contact.birthday | date: "dd/mm/yyyy" }}</td>

          <td *ngIf="contact.phones.length; else noPhones">
            <a [href]="'tel:' + contact.phones">{{ contact.phones }}</a>
          </td>

          <ng-template #noPhones>
            <p><i>No Phones</i></p>
          </ng-template>
        </tr>
      </tbody>
    </table>
    <ng-template #noContacts>
      <p>no contacts...</p>
    </ng-template>
  </div>
</div>
