
th {
  background-color: #e8e9ee;
}
.numbers{
    color: blueviolet;
}
.title{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}