<nav
  class="navbar navbar-expand-sm navbar-light"
  aria-label="Third navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard"
      >Royal <i class="bi bi-star-half"></i> CRM</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ (user$ | async)?.email }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">
                <i class="bi bi-gear-fill"></i>
                My Preferences</a
              >
            </li>
            <li>
              <a class="dropdown-item" appSignOut>
                <i class="bi bi-box-arrow-right"></i>
                Sign Out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
