<app-page-header
  title="customers"
  icon="bi bi-person-circle"
  description="list of customers"
></app-page-header>

<div class="row mt-4">
  <div class="col-8">
    <input
      [(ngModel)]="nameTerm"
      name="name-term"
      type="text"
      class="form-control"
      placeholder="Search customer by name"
    />
  </div>
  <div class="col-4">
    <a routerLink="./new" class="btn btn-info">
      <i class="bi bi-person-plus"></i>
      Add New Customer
    </a>
  </div>
</div>
<br /><br />

<div class="row mt-3">
  <div class="col-12">
    <div
      *ngIf="
        customer$ | async | filterCustomers: 'firstName':nameTerm as customers;
        else loading
      "
    >
      <table
        *ngIf="customers.length; else noCustomers"
        class="table table-bordered"
      >
        <thead>
          <tr>
            <th>#No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; index as idx">
            <td>
              {{ idx + 1 }}.
              <a [routerLink]="['./', customer.id, 'edit']">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a class="ms-3" (click)="remove(customer.id)">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
            <td>
              <a [routerLink]="['./', customer.id]">
                {{ customer.firstName }}
              </a>
            </td>
            <td>
              {{ customer.lastName }}
            </td>
            <td>
              <a [href]="'mailto:' + customer.email">
                {{ customer.email }}
              </a>
            </td>
            <td>
              <a [href]="'tel:' + customer.phone">
                {{ customer.phone }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noCustomers>
  <p>No Customers Yet</p>
</ng-template>

<ng-template #loading> loading.... </ng-template>
